            <div class="hero-unit">
                <h1>plove&#8217;s JS Playground</h1>
                <p>So I&#8217;ve been doing a good amount of JavaScript coding lately, ranging from technical screenings that come along as part of the job application process to challenges on sites such as Codility to simply utilizing new techniques I&#8217;ve been studying in my free time. Not all of them are worthy of their own repository, but I&#8217;ve grown tired of letting this code float off into the cosmos. Welcome to the playground!</p>
            </div>

            {{#link-to 'index'}}Home{{/link-to}}
            {{#link-to 'about'}}About{{/link-to}}
            {{#link-to 'adaptiveInsights'}}Adaptive Insights{{/link-to}}
            {{#link-to 'alexB'}}Alex B.{{/link-to}}

            <div>    
                {{outlet}}
            </div>